<h1>Let's see some books we have on the shelves</h1>

<h1><%= @book.title %></h1>

<p>
   <strong>Price: </strong> $<%= '%.2f' % @book.price %><br />
   <strong>Subject :</strong> <%= @book.subject.name %><br />
   <strong>Created Date:</strong> <%= @book.created_at.to_date %><br />
</p>

<p><%= @book.description %></p>

<hr />

<%= link_to 'Back', {:action => 'list'} %>
<p><%= link_to "Edit this book", {:action => 'edit', :id => @book.id }%></p>
<p><%= link_to "delete this book", {:action => 'delete', :id => @book.id }%></p>
